body{
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background: url('https://t4.ftcdn.net/jpg/04/61/23/23/360_F_461232389_XCYvca9n9P437nm3FrCsEIapG4SrhufP.jpg') no-repeat center/cover;
}

.container{
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.weather-box{
  border:3px solid white;
  padding: 50px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, .7);
}

.btn-box{display: flex; gap: 5px;}